:root {
    --cor-de-fundo :#291F28;
    --cor-do-botao : #291F28;
    --cor-laranja-principal : #CB7832;
    --cor-preta : #000000;
    --cor-branca : #ffffff;
}


body {
    background-image: url(img/Rectangle\ 1.png);
    background-color: var(--cor-de-fundo);
    background-size: cover;
}

main {
    display: flex;
    height: 100%;
    justify-content: space-around;

    
}


nav {
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: center;
    
}

a {
    border: 1px solid var(--cor-preta);
    height: 80px;
    background-color: var(--cor-laranja-principal);
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 64px;
    text-decoration: none;
    color:var(--cor-do-botao);
    font-family: 'Bangers', cursive;
    border-radius: 25px;
    background-image: linear-gradient(to bottom, #cb7833, #4d1a09);
    
}

a:hover {
    opacity: 0.8;
}