main {
    font-family: 'Bangers', cursive;
}

.personagens {
    width: 900px;
    height: 900px;
    display: flex;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    
}

.bloco-1, .bloco-2 {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.imagem{
    height: 310px;
    width: 230px;
    border-radius: 24%;
    border: 3px solid transparent;
    
}

.maga {
    background-image: url(/img/Maga.png);
}

.necromante {
    background-image: url(/img/Necromante.png);
}

.guerreira {
    background-image: url(/img/Guerreira.png);
}

.arqueira {
    background-image: url(/img/Arqueira.png);
}

.nome {
    font-size: 30px;
    color: rgb(163, 161, 161);
}

.imagem:hover {
    border: 3px solid white;
}

.texto-container {
    font-size: 30px;
    max-width: 400px;
    color: #cb7832;
    text-align: center;
    margin-top: 30px;
    line-height: 40px;
}